
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-color: #6b21a8;
  --main-background-color: #0a0a0a;
  --text-color-dark: #1f2937;
  --text-color-light: #f9fafb;
}

#card-back, #card {
  color: var(--text-color-light);
  background-color: var(--main-background-color);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}

.purple-bg {
  background-color: var(--purple-color);
  min-height: 100px;
  max-height: 200px;
  color: white;
}

.circle {
  width: 100%;
  height: 40px;
}

.nep-meaning {
  font-size: 1.5rem;
  flex: 1;
  width: 100%;
  text-align: center;
}

.light-bg {
  background-color: rgb(215, 205, 205);
  min-height: 40px;
  max-height: 80px;
}

.dark-bg {
  height: 50px;
}

.input-field {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: var(--m);
}

.zinc-bg {
  color: white;
}

.title {
  font-size: 1.5rem;
}

.number {
  background-color: var(--text-color-dark);
  color: white;
  display: block;
  height: 100%;
  width: 12%;
  text-align: center;
  line-height: 35px;
  font-size: 1.2rem;
}

#card-back{
  padding: 10px;
}
.reading, .meaning, .sentences, .details {
  border: 1px solid black;
  min-height: 250px;
  max-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  overflow: hidden;
}

.reading-title, .meaning-title, .sentences-title, .details-title {
  font-size: 2rem;
}
.japanese-reading, .english-meaning, .kanji-reading,.japanese-sentences, .sentence-meanings, .common-lvl, .jlpt-lvl, .vocab-pos{
  font-size: 1.5rem;
  font-weight: bold;
  color: #FF7F3E;
  background-color: #7469B6;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px black;
}

.japanese-sentences{
  background: none;
}
.kana-sentence{
  color: var(--text-color-light);
}
.kanji-reading, .kanji-sentence, .common-lvl, .jlpt-lvl, .vocab-pos{
  background-color: #D20062;
  color: #C4E4FF;
  margin-top: 5px;
}

.common-lvl, .jlpt-lvl, .vocab-pos{
  background:none;
  border: 1px solid #ED2B2A;
}

.sentence-meanings{
  background: none;
  color: #9400FF;
}
.nepali-sentence-meaning{
  color: var(--purple-color);
  font-size: 1.7rem;
}
.english-sentence-meaning{
  color: var(--text-color-light);
}

hr{
  width: 100%;
  height: 2px;
  background-color: var(--text-color-light);
  border: none;
  margin: 5px;
}

.reading-nemonic-title, .explanation{
  font-size: 1.6rem;
  margin: 5px 0px;
}

.meaning{
  max-height: fit-content;
}

/* 
vocab explanation
*/
.vocab-explanation{
  color: var(--text-color-light);
  padding-left: 10px;
}
.vocab-explanation p {
  margin-bottom: 10px;
}

.vocab-explanation p strong {
  color: var(--purple-color); 
}

.vocab-explanation ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

.vocab-explanation ul li {
  margin-bottom: 5px;
}

.vocab-explanation ul li:before {
  content: '• ';
  color: #337ab7; 
}

.vocab-explanation strong {
  font-size: 1.2em;
  color: #5bc0de;
}


/* vocab explanation end */